<div class="post">

    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">To start page</button>
    </div>
    <div class="info">
        <strong>Autor</strong>
        <small>12.10.2019</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, et? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, iusto fuga ad saepe incidunt quibusdam nam dolorum pariatur debitis cum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, et? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, iusto fuga ad saepe incidunt quibusdam nam dolorum pariatur debitis cum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, et? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, iusto fuga ad saepe incidunt quibusdam nam dolorum pariatur debitis cum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, et? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, iusto fuga ad saepe incidunt quibusdam nam dolorum pariatur debitis cum?</p>
    </div>
</div>